@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700");
@import url("https://api.fontshare.com/css?f[]=poppins@400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900");
@import url("https://api.fontshare.com/css?f[]=inter@300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanalei Fill:wght@400");
@import url("https://api.fontshare.com/css?f[]=hanalei fill@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi Hand:wght@400");
@import url("https://api.fontshare.com/css?f[]=gochi hand@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer:wght@400");
@import url("https://api.fontshare.com/css?f[]=lacquer@400&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}

.common-46,
.container-background,
.container-background-1,
.container-background-2,
.container-background-3 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

.common-47,
.container-founders-section-title,
.container-founder-name-2,
.container-task-creation-description,
.container-ai-features-description,
.container-student-quote {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.common-48,
.container-t-section,
.container-t-section-background {
  position: absolute;
  right: 0px;
  left: 1px;
}

.common-49,
.container-t-nav,
.container-tt-rectangle-tmarley_image-removebg-preview {
  position: absolute;
  right: 0px;
  left: 0px;
}

.common-50,
.container-ttt-schedule-learning-description-section,
.container-t-section-1 {
  position: absolute;
  right: 85px;
}

.common-51,
.container-t-line-4,
.container-t-container,
.container-t-line-5 {
  position: absolute;
  right: 0px;
}

.common-52,
.container-container-1,
.container-section-1,
.container-ttt-group-tgroup-tgroup-bg-group,
.container-section-3,
.container-blockquote-1,
.container-blockquote-5 {
  position: relative;
  z-index: 0;
}

.common-53,
.container-ttttt-founder-name-3timg_95791tline-3tfounder-quote-3tfounder-name-2timg_42431tline-7founder-quote-2ttimg_95941tline-8tfounder-quote,
.container-lisa-nguyen-software-development-team-lead,
.container-hannah-lee-project-management-team-lead {
  position: absolute;
  z-index: 3;
}

.common-44,
.container-ta-simple-to-do-list-tto,
.container-to-1,
.container-to-2 {
  letter-spacing: -2px;
  line-height: 79px;
}

.common-45,
.container-tt-schedule-learning-description-section,
.container-save-precious-time-and-effort-with-your-all-new-ai-assistant,
.container-set-clear-responsibilities-and-deadlines-to-your-loved-ones,
.container-task-creation-description,
.container-ai-features-description,
.container-student-quote {
  letter-spacing: -0.06px;
  line-height: 21px;
}

.common-43,
.container-iv-6617i-7a-6ivy-league-logo-ivy-league-logos-removebg-preview,
.container-t-line-3 {
  background-position: center;
  background-size: cover;
}

.common-40,
.container-container-1,
.container-button,
.container-im-g_,
.container-im-g_1,
.container-im-g_2,
.container-button-2 {
  border-style: solid;
  border-color: black;
}

.common-41,
.container-input,
.container-input-1 {
  border-style: solid;
  border-color: gainsboro;
}

.common-42,
.container-screenshot-20250106at,
.container-screenshot-20250106at-1 {
  border-style: solid;
  border-color: dodgerblue;
}

.common-23,
.container-container-1,
.container-t-img_,
.container-t-group,
.container-section-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.common-24,
.container-t-img_1,
.container-tt-img_95941tline-8tfounder-quote,
.container-t-to-1,
.container-t-pricing-title,
.container-t-student-testimonials-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.common-25,
.container-t-input-button,
.container-ttt-founder-name-3timg_95791tline-3tfounder-quote-3tfounder-name-2timg_42431tline-7founder-quote,
.container-tt-schedule-learning-description-section,
.container-t-input-button-1,
.container-tt-svg-tiphone-tsvg-tipad-tsvg-tmac-ttsvg-tapple-watch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.common-26,
.container-t-to,
.container-t-get-started-it-sfree {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.common-27,
.container-t-line-1,
.container-t-feature-personal-ai-2f-7ee-347svg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.common-28,
.container-t-blockquote,
.container-ttt-group-tgroup-tgroup-bg-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.common-29,
.container-t-section,
.container-ta-simple-to-do-list-tto,
.container-t-section-background,
.container-ttttt-founder-name-3timg_95791tline-3tfounder-quote-3tfounder-name-2timg_42431tline-7founder-quote-2ttimg_95941tline-8tfounder-quote,
.container-tt-founder-name-3timg_95791tline-3tfounder-quote,
.container-t-founder-name-2timg_42431tline-7founder-quote,
.container-ttt-schedule-learning-description-section,
.container-section-1,
.container-t-section-1,
.container-t-section-2,
.container-section-3,
.container-t-container,
.container-t-boston-university-emblem,
.container-tt-input-button-1,
.container-t-nav,
.container-t-svg-tiphone,
.container-t-svg-tipad,
.container-t-svg-tmac,
.container-t-svg-tapple-watch,
.container-tt-rectangle-tmarley_image-removebg-preview,
.container-t-rectangle-tmarley_image-removebg-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common-30,
.container-ttta-simple-to-do-list-tto,
.container-ttt-input-button,
.container-section-background,
.container-tttt-founder-name-3timg_95791tline-3tfounder-quote-3tfounder-name-2timg_42431tline-7founder-quote-2ttimg_95941tline-8tfounder-quote,
.container-t-line,
.container-t-marley_image-removebg-preview {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.common-31,
.container-easily-manage-your-personal-tasks-family-projects-and-team-swork-all-in-one-place-trusted-by-40m-people,
.container-t-heading-4join-40000000highly-effective-individuals-families-and-teams,
.container-heading-4join-40000000highly-effective-individuals-families-and-teams,
.container-t-heading-2daily-planner,
.container-t-save-precious-time-and-effort-with-your-all-new-ai-assistant,
.container-t-set-clear-responsibilities-and-deadlines-to-your-loved-ones,
.container-student-quote,
.container-organize-anything-with-anyone-anywhere,
.container-heading-3available-on {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-32,
.container-www-any-do-1920w-light,
.container-button,
.container-container-2,
.container-button-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.common-33,
.container-t-img_95941tline-8tfounder-quote,
.container-t-line-8tfounder-quote,
.container-feature-personal-ai-2f-7ee-347svg {
  display: flex;
  flex-direction: column;
}

.common-34,
.container-container,
.container-t-robert-green-project-manager-in-aconstruction-firm {
  display: flex;
  align-items: flex-end;
}

.common-35,
.container-wrapper,
.container-tta-simple-to-do-list-tto,
.container-tt-input-button,
.container-t-iv-6617i-7a-6ivy-league-logo-ivy-league-logos-removebg-preview,
.container-t-founder-quote,
.container-founder-quote,
.container-founder-quote-1,
.container-t-founder-quote-1,
.container-founder-quote-2,
.container-schedule-learning-description,
.container-wrapper-1,
.container-any-do-stask-assignment-and-tracking-features-are-essential-for-my-role-as-asoftware-development-team-lead-ican-easily-delegate-tasks-and-monitor-progress-ensuring-our-projects-stay-on-schedule-and-meet-our-quality-standards-if-atask-is-delayed-ican-easily-see-what-sthe-hold-up-by-simply-using-the-chat-feature-and-tagging-the-assigned-member,
.container-the-automation-feature-has-streamlined-our-workflow-at-the-marketing-agency-routine-tasks-are-handled-automatically-freeing-up-our-time-to-focus-on-creative-work-and-client-interactions-not-having-to-worry-about-the-next-step-in-our-workflow-and-simply-have-it-auto-generated-and-assigned-is-just-what-we-needed,
.container-as-an-it-consultant-irely-on-multiple-tools-and-any-do-sintegrations-with-services-like-slack-zapier-and-gmail-have-been-invaluable-it-connects-all-my-platforms-making-it-easier-to-manage-client-projects-and-communication,
.container-any-do-scustom-views-provide-me-with-critical-insights-into-project-performance-and-team-productivity-as-aproject-manager-ican-track-progress-across-multiple-construction-sites-managed-in-different-boards-and-by-different-people-and-make-data-driven-decisions,
.container-any-do-sseamless-task-coordination-has-made-managing-our-ad-campaigns-much-more-efficient-our-team-can-collaborate-on-tasks-set-deadlines-and-track-progress-ensuring-everything-runs-smoothly-from-start-to-finish-what-once-was-aheadache-is-now-asmooth-workflow-that-we-ve-easily-set-up-with-asimply-board-template,
.container-faq-title {
  display: flex;
  align-items: center;
}

.common-36,
.container-t-founders-section-title,
.container-t-founder-name,
.container-t-student-quote {
  display: flex;
  align-items: flex-start;
}

.common-37,
.container-blockquote-1,
.container-blockquote-2,
.container-blockquote-4 {
  flex-direction: column;
  justify-content: center;
}

.common-38,
.container-section,
.container-section-2 {
  flex-direction: column;
  align-items: center;
}

.common-39,
.container-free-forever-no-credit-card,
.container-tt-group-tgroup,
.container-t-blockquote-blockquote-blockquote-blockquote-blockquote {
  justify-content: center;
  align-items: center;
}

.common-14,
.container-pricing-title,
.container-to-2 {
  font-size: 90px;
  font-family: Poppins, ui-sans-serif, system-ui, sans-serif;
  font-weight: 700;
  text-align: center;
}

.common-15,
.container-save-precious-time-and-effort-with-your-all-new-ai-assistant,
.container-set-clear-responsibilities-and-deadlines-to-your-loved-ones {
  color: darkgray;
  font-size: 17px;
  text-align: center;
}

.common-16,
.container-ta-simple-to-do-list-tto,
.container-to-1 {
  font-size: 72px;
  font-family: Poppins, ui-sans-serif, system-ui, sans-serif;
  font-weight: 700;
}

.common-17,
.container-heading-2daily-planner,
.container-heading-2turbocharge-with-ai,
.container-heading-2schedule-and-assign-tasks {
  font-size: 28px;
  font-family: Poppins, ui-sans-serif, system-ui, sans-serif;
}

.common-18,
.container-para-5,
.container-para-12,
.container-para-15 {
  font-size: 80px;
  font-weight: 900;
}

.common-19,
.container-heading-4join-40000000highly-effective-individuals-families-and-teams,
.container-student-quote {
  font-size: 32px;
  text-align: center;
}

.common-20,
.container-founder-name,
.container-founder-name-1 {
  font-size: 55px;
  text-align: center;
}

.common-21,
.container-section-1,
.container-section-2,
.container-section-3 {
  font-weight: 700;
  text-align: center;
}

.common-22,
.container-founders-section-title,
.container-student-testimonials-title,
.container-get-started-it-sfree {
  font-weight: 900;
  text-align: center;
}

.common-1,
.container-section,
.container-container-2 {
  display: flex;
  width: 100%;
  height: 100%;
}

.common-2,
.container-t-task-creation-description,
.container-t-ai-features-description {
  display: flex;
  width: 1055px;
  height: 221px;
}

.common-3,
.container-input,
.container-input-1 {
  display: flex;
  width: 250px;
  background-color: white;
}

.common-4,
.container-blockquote-1,
.container-blockquote-2,
.container-blockquote-4,
.container-blockquote-5 {
  display: flex;
  width: 336px;
  background-color: white;
}

.common-5,
.container-blockquote,
.container-blockquote-6 {
  width: 336px;
  height: 500px;
  background-color: white;
}

.common-6,
.container-tt-group-tgroup,
.container-t-group-1,
.container-t-group-2,
.container-t-group-3 {
  display: flex;
  height: -136.82px;
}

.common-7,
.container-lisa-nguyen-software-development-team-lead,
.container-hannah-lee-project-management-team-lead {
  display: flex;
  height: 33px;
}

.common-8,
.container-www-any-do-1920w-light,
.container-blockquote-3 {
  display: flex;
  background-color: white;
}

.common-9,
.container-button,
.container-section-2,
.container-button-2 {
  display: flex;
  background-color: black;
}

.common-10,
.container-free-forever-no-credit-card,
.container-t-blockquote-blockquote-blockquote-blockquote-blockquote {
  display: flex;
  color: dimgray;
}

.common-11,
.container-stars-svg,
.container-stars-svg-1,
.container-stars-svg-2,
.container-stars-svg-3,
.container-stars-svg-4 {
  width: 161px;
  height: 27px;
}

.common-12,
.container-t-boston-university-emblem,
.container-boston-university-emblem {
  width: 756px;
  height: 251px;
}

.common-13,
.container-svg,
.container-sv-g1,
.container-sv-g2,
.container-sv-g3 {
  width: 87px;
  height: 66px;
}

.container-container {
  width: 100%;
}

.container-t-blockquote {
  width: 12px;
  padding-bottom: 2731px;
  padding-right: 12px;
  flex-shrink: 0;
}

.container-blockquote {
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  filter: drop-shadow(0px 1.4px 18px rgba(0, 0, 0, 0.1));
  flex-shrink: 0;
}

.container-www-any-do-1920w-light {
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  align-self: stretch;
  padding-top: 228px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}

.container-container-1 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  flex-grow: 1;
  padding-bottom: 412px;
  padding-left: 159px;
  padding-right: 159px;
  padding-top: 9051px;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  letter-spacing: 0em;
}

.container-t-section {
  height: 1130px;
  top: 109px;
  flex-shrink: 0;
}

.container-wrapper {
  z-index: 0;
}

.container-section {
  overflow: clip;
  row-gap: 86px;
  padding-bottom: 120px;
  padding-left: 459px;
  padding-right: 423px;
  position: relative;
  text-align: center;
  flex-shrink: 0;
}

.container-ttta-simple-to-do-list-tto {
  height: 147px;
  flex-shrink: 0;
}

.container-tta-simple-to-do-list-tto {
  height: 161px;
  padding-right: 30px;
  text-align: center;
}

.container-a-simple-to-do-list {
  width: 765px;
  text-align: center;
}

.container-t-to {
  align-self: stretch;
  height: 58px;
  max-width: 947px;
  text-align: center;
  flex-shrink: 0;
}

.container-to {
  margin-bottom: -26px;
}

.container-easily-manage-your-personal-tasks-family-projects-and-team-swork-all-in-one-place-trusted-by-40m-people {
  height: 69px;
  z-index: 0;
  left: 646px;
  right: 644px;
  top: 206px;
  position: absolute;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  flex-shrink: 0;
}

.container-para {
  text-align: center;
}

.container-text {
  font-weight: 900;
}

.container-free-forever-no-credit-card {
  width: 344px;
  height: 18px;
  left: calc(50% + -9px + -144px);
  top: calc(50% + -9px + -205.95px);
  position: absolute;
  font-size: 14px;
  line-height: 19px;
  flex-shrink: 0;
}

.container-ttt-input-button {
  padding-top: 61px;
  z-index: 4;
}

.container-tt-input-button {
  padding-left: 41px;
  justify-content: flex-end;
  text-align: center;
}

.container-t-input-button {
  row-gap: 12px;
  column-gap: 12px;
  line-height: 1;
}

.container-input {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  flex-shrink: 0;
}

.container-value {
  flex-grow: 1;
  text-align: left;
}

.container-button {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 11px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}

.container-button-1 {
  color: whitesmoke;
}

.container-t-screenshot-20250106at-1242261screenshot-20250106at {
  row-gap: 169px;
  column-gap: 169px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.container-screenshot-20250106at {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url(/assets/screenshot-20250106at.jpeg);
  background-size: 100% 160%;
  background-position: -0.21px 0px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 434px;
  height: 590px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  flex-shrink: 0;
}

.container-screenshot-20250106at-1 {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url(/assets/screenshot-20250106at-1.jpeg);
  background-size: 100% 201%;
  background-position: 0px -0.44px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 434px;
  height: 469px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  flex-shrink: 0;
}

.container-rectangle {
  height: 22px;
  left: 75px;
  right: 97px;
  top: 152px;
  position: absolute;
  flex-shrink: 0;
}

.container-t-section-background {
  height: 215px;
  top: 1239px;
  flex-shrink: 0;
}

.container-section-background {
  background-color: whitesmoke;
  padding-left: 277px;
  padding-right: 277px;
  padding-top: 43px;
}

.container-t-iv-6617i-7a-6ivy-league-logo-ivy-league-logos-removebg-preview {
  padding-right: 60px;
}

.container-iv-6617i-7a-6ivy-league-logo-ivy-league-logos-removebg-preview {
  background-image: url(/assets/iv-6617i-7a-6ivy-league-logo-ivy-league-logos-removebg-preview.png);
  padding-bottom: 153px;
  padding-left: 123px;
  padding-right: 123px;
}

.container-t-heading-4join-40000000highly-effective-individuals-families-and-teams {
  max-width: 1058px;
  padding-left: 33px;
}

.container-heading-4join-40000000highly-effective-individuals-families-and-teams {
  flex-grow: 1;
  line-height: 45px;
  font-weight: 700;
}

.container-ttttt-founder-name-3timg_95791tline-3tfounder-quote-3tfounder-name-2timg_42431tline-7founder-quote-2ttimg_95941tline-8tfounder-quote {
  height: 863px;
  left: 118px;
  right: 120px;
  top: calc(50% + -431.5px + 1083px);
  flex-shrink: 0;
}

.container-tttt-founder-name-3timg_95791tline-3tfounder-quote-3tfounder-name-2timg_42431tline-7founder-quote-2ttimg_95941tline-8tfounder-quote {
  row-gap: 107px;
  column-gap: 107px;
  flex-wrap: wrap;
  font-size: 29px;
  line-height: normal;
}

.container-ttt-founder-name-3timg_95791tline-3tfounder-quote-3tfounder-name-2timg_42431tline-7founder-quote {
  row-gap: 107px;
  column-gap: 107px;
}

.container-tt-founder-name-3timg_95791tline-3tfounder-quote {
  row-gap: 24px;
}

.container-founder-name {
  font-family: "Hanalei Fill", ui-sans-serif, system-ui, sans-serif;
  padding-left: 2px;
}

.container-t-img_ {
  padding-top: 20px;
}

.container-im-g_ {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-image: url(/assets/im-g_.jpeg);
  background-size: 186% 449%;
  background-position: -192.5px -521.11px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 491px;
  height: 441px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  flex-shrink: 0;
}

.container-t-line {
  align-self: stretch;
  max-width: 491px;
  padding-left: 11px;
  padding-top: 8.3px;
}

.container-line {
  flex-grow: 1;
  height: 3px;
}

.container-t-founder-quote {
  align-self: stretch;
  max-width: 491px;
  padding-left: 11px;
  padding-right: 6px;
}

.container-founder-quote {
  flex-grow: 1;
}

.container-t-founder-name-2timg_42431tline-7founder-quote {
  row-gap: 26px;
  flex-grow: 1;
  max-width: 488px;
}

.container-founder-name-1 {
  font-family: "Gochi Hand", ui-sans-serif, system-ui, sans-serif;
}

.container-t-img_1 {
  padding-top: 11px;
}

.container-im-g_1 {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-image: url(/assets/im-g_1.png);
  background-size: 706% 359%;
  background-position: -1324.15px -332.65px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 488px;
  height: 441px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  flex-shrink: 0;
}

.container-t-line-1 {
  align-self: stretch;
  max-width: 488px;
  padding-left: 8px;
  padding-top: 11px;
}

.container-line-1 {
  height: 3px;
  flex-shrink: 0;
}

.container-founder-quote-1 {
  width: 474px;
}

.container-tt-img_95941tline-8tfounder-quote {
  padding-bottom: 9px;
}

.container-t-img_95941tline-8tfounder-quote {
  row-gap: 22px;
}

.container-im-g_2 {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  object-fit: cover;
  object-position: center;
  width: 489px;
  height: 452px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  flex-shrink: 0;
}

.container-t-line-8tfounder-quote {
  row-gap: 21px;
  max-width: 489px;
  padding-left: 9px;
}

.container-line-2 {
  height: 3px;
  flex-shrink: 0;
}

.container-t-founder-quote-1 {
  max-width: 480px;
  padding-right: 9px;
}

.container-founder-quote-2 {
  margin-right: -3px;
  flex-grow: 1;
}

.container-ttt-schedule-learning-description-section {
  height: 636px;
  left: 71px;
  top: 1961px;
  flex-shrink: 0;
}

.container-tt-schedule-learning-description-section {
  row-gap: 62px;
  column-gap: 62px;
}

.container-t-schedule-learning-description {
  width: 1030px;
  padding-top: 52px;
  flex-shrink: 0;
}

.container-schedule-learning-description {
  height: 366px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  font-size: 32px;
  flex-shrink: 0;
}

.container-spacer {
  height: 21px;
}

.container-spacer-1 {
  height: 21px;
}

.container-spacer-2 {
  height: 21px;
}

.container-spacer-3 {
  height: 21px;
}

.container-spacer-4 {
  height: 21px;
}

.container-section-1 {
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  row-gap: 8px;
  padding-bottom: 540px;
  padding-left: 222px;
  padding-right: 222px;
  padding-top: 36px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  filter: drop-shadow(0px 3px 36px rgba(0, 0, 0, 0.1));
}

.container-background {
  background-image: rgba(255, 255, 255, 1);
  border-top-left-radius: 52px;
  border-bottom-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-right-radius: 52px;
}

.container-background-1 {
  background-image: url(/assets/background-1.png);
  background-size: 80% 66%;
  background-position: 67px 218px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 52px;
  border-bottom-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-right-radius: 52px;
}

.container-t-heading-2daily-planner {
  padding-right: 0.02px;
  z-index: 1;
}

.container-heading-2daily-planner {
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}

.container-what-syour-plan-for-today {
  z-index: 2;
  font-size: 17px;
  color: darkgray;
}

.container-t-section-1 {
  width: 690px;
  height: 671px;
  z-index: 5;
  top: calc(50% + -335.5px + -1558.66px);
  flex-shrink: 0;
}

.container-section-2 {
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  row-gap: 8px;
  padding-bottom: 168px;
  padding-left: 121px;
  padding-right: 121px;
  padding-top: 36px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  filter: drop-shadow(0px 3px 36px rgba(0, 0, 0, 0.1));
}

.container-heading-2turbocharge-with-ai {
  color: gainsboro;
  line-height: 31px;
}

.container-t-save-precious-time-and-effort-with-your-all-new-ai-assistant {
  align-self: stretch;
  max-width: 448px;
  padding-left: 101px;
  padding-right: 101px;
}

.container-save-precious-time-and-effort-with-your-all-new-ai-assistant {
  flex-grow: 1;
}

.container-para-8 {
  text-align: center;
}

.container-para-9 {
  text-align: center;
}

.container-t-feature-personal-ai-2f-7ee-347svg {
  align-items: flex-start;
  padding-right: 23px;
  padding-top: 37px;
}

.container-feature-personal-ai-2f-7ee-347svg {
  text-align: center;
  align-items: flex-start;
  overflow: clip;
  padding-top: 0.19px;
}

.container-group {
  width: 156px;
  height: 204px;
  text-align: center;
  flex-shrink: 0;
}

.container-t-group {
  height: 137px;
  text-align: center;
  flex-shrink: 0;
}

.container-group-1 {
  width: 425px;
  height: 153px;
  flex-shrink: 0;
}

.container-ttt-group-tgroup-tgroup-bg-group {
  row-gap: 137px;
}

.container-tt-group-tgroup {
  z-index: 3;
  text-align: center;
  flex-shrink: 0;
}

.container-t-group-1 {
  align-items: flex-end;
  justify-content: center;
}

.container-group-2 {
  margin-bottom: 25px;
  width: 271px;
  height: 204px;
  text-align: center;
  flex-shrink: 0;
}

.container-t-group-2 {
  align-items: flex-end;
  width: 154px;
  flex-shrink: 0;
}

.container-group-3 {
  margin-bottom: 25px;
  margin-left: -50.21px;
  width: 264px;
  height: 204px;
  text-align: center;
  flex-shrink: 0;
}

.container-t-group-3 {
  align-items: flex-end;
  padding-left: 2.3px;
  padding-right: 2.3px;
  justify-content: flex-end;
  z-index: 2;
  text-align: center;
  flex-shrink: 0;
}

.container-group-4 {
  margin-bottom: 119px;
  width: 110px;
  height: 204px;
  flex-shrink: 0;
}

.container-bg-group {
  width: 376px;
  height: 204px;
  z-index: 1;
  right: 2.3px;
  top: -340.81px;
  position: absolute;
  text-align: center;
  flex-shrink: 0;
}

.container-t-section-2 {
  width: 710px;
  height: 667px;
  left: 71px;
  top: calc(50% + -333.5px + -2414.66px);
  position: absolute;
  flex-shrink: 0;
}

.container-section-3 {
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  row-gap: 8px;
  padding-bottom: 550px;
  padding-left: 160px;
  padding-right: 159px;
  padding-top: 36px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  filter: drop-shadow(0px 3px 36px rgba(0, 0, 0, 0.1));
}

.container-background-2 {
  background-image: rgba(255, 255, 255, 1);
  border-top-left-radius: 52px;
  border-bottom-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-right-radius: 52px;
}

.container-background-3 {
  background-image: url(/assets/background-3.png);
  background-size: 80% 60%;
  background-position: 71px 269px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 52px;
  border-bottom-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-right-radius: 52px;
}

.container-heading-2schedule-and-assign-tasks {
  z-index: 1;
  line-height: 31px;
}

.container-t-set-clear-responsibilities-and-deadlines-to-your-loved-ones {
  align-self: stretch;
  max-width: 391px;
  padding-left: 76px;
  padding-right: 75px;
  z-index: 2;
}

.container-set-clear-responsibilities-and-deadlines-to-your-loved-ones {
  flex-grow: 1;
}

.container-para-10 {
  text-align: center;
}

.container-para-11 {
  text-align: center;
}

.container-t-to-1 {
  height: 111px;
  left: 486px;
  right: 487px;
  top: 1565px;
  position: absolute;
  flex-shrink: 0;
}

.container-to-1 {
  text-align: center;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.container-t-founders-section-title {
  height: 27px;
  padding-left: 1546px;
  padding-top: 27px;
  left: 166px;
  right: 208px;
  top: calc(50% + -13.5px + 462px);
  position: absolute;
  flex-shrink: 0;
}

.container-founders-section-title {
  font-size: 75px;
  line-height: 27px;
}

.container-t-founder-name {
  width: 220px;
  height: 66px;
  padding-left: 220px;
  padding-top: 66px;
  z-index: 9;
  right: 296px;
  top: calc(50% + -33px + 676px);
  position: absolute;
  flex-shrink: 0;
}

.container-founder-name-2 {
  text-align: right;
  font-family: Lacquer, ui-sans-serif, system-ui, sans-serif;
  font-size: 55px;
  line-height: normal;
}

.container-t-line-2 {
  height: 3px;
  max-width: 1890px;
  bottom: 2076px;
  left: 12px;
  right: 18px;
  position: absolute;
  flex-shrink: 0;
}

.container-line-3 {
  height: 3px;
  flex-shrink: 0;
}

.container-t-task-creation-description {
  align-items: flex-start;
  padding-left: 1055px;
  padding-top: 221px;
  right: 39px;
  top: calc(50% + -110.5px + -2380.66px);
  position: absolute;
  flex-shrink: 0;
}

.container-task-creation-description {
  text-align: right;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  font-size: 32px;
}

.container-para-12 {
  text-align: right;
}

.container-spacer-5 {
  height: 21px;
  text-align: right;
}

.container-spacer-6 {
  height: 21px;
  text-align: right;
}

.container-spacer-7 {
  height: 21px;
  text-align: right;
}

.container-para-13 {
  text-align: right;
}

.container-spacer-8 {
  height: 21px;
  text-align: right;
}

.container-para-14 {
  text-align: right;
}

.container-t-ai-features-description {
  align-items: flex-start;
  padding-left: 1055px;
  padding-top: 221px;
  z-index: 12;
  left: 101px;
  top: calc(50% + -110.5px + -1580.66px);
  position: absolute;
  flex-shrink: 0;
}

.container-ai-features-description {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  font-size: 32px;
}

.container-spacer-9 {
  height: 21px;
}

.container-spacer-10 {
  height: 21px;
}

.container-spacer-11 {
  height: 21px;
}

.container-spacer-12 {
  height: 21px;
}

.container-t-line-3 {
  width: 267px;
  height: 13px;
  padding-left: 267px;
  padding-top: 13px;
  left: calc(50% + -6.25px + -50.76px);
  top: 1693px;
  position: absolute;
  background-image: url(/assets/Line.svg);
  flex-shrink: 0;
}

.container-t-pricing-title {
  height: 80px;
  z-index: 14;
  left: 798px;
  right: 798px;
  top: calc(50% + -40px + -787.16px);
  position: absolute;
  flex-shrink: 0;
}

.container-pricing-title {
  line-height: 79px;
}

.container-t-line-4 {
  height: 1px;
  max-width: 1912px;
  left: 8px;
  top: calc(50% + -0.5px + -1003.66px);
  flex-shrink: 0;
}

.container-line-4 {
  height: 1px;
  flex-shrink: 0;
}

.container-t-student-testimonials-title {
  width: 1103px;
  height: 104px;
  left: calc(50% + -52px + -548px);
  top: calc(50% + -52px + 2142px);
  position: absolute;
  flex-shrink: 0;
}

.container-student-testimonials-title {
  font-size: 86px;
  line-height: normal;
}

.container-t-container {
  height: 584px;
  left: 12px;
  top: calc(50% + -292px + 2552px);
  flex-shrink: 0;
}

.container-container-2 {
  overflow: clip;
  padding-bottom: 42px;
  padding-left: 24px;
  padding-right: 12px;
  padding-top: 42px;
  flex-shrink: 0;
}

.container-t-blockquote-blockquote-blockquote-blockquote-blockquote {
  row-gap: 48px;
  column-gap: 48px;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.container-blockquote-1 {
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  row-gap: 21px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 45px;
  padding-top: 40px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  filter: drop-shadow(0px 1.4px 18px rgba(0, 0, 0, 0.1));
  flex-shrink: 0;
}

.container-stars-svg {
  flex-shrink: 0;
}

.container-any-do-stask-assignment-and-tracking-features-are-essential-for-my-role-as-asoftware-development-team-lead-ican-easily-delegate-tasks-and-monitor-progress-ensuring-our-projects-stay-on-schedule-and-meet-our-quality-standards-if-atask-is-delayed-ican-easily-see-what-sthe-hold-up-by-simply-using-the-chat-feature-and-tagging-the-assigned-member {
  height: 372px;
  z-index: 2;
  flex-shrink: 0;
}

.container-lisa-nguyen-software-development-team-lead {
  width: 228px;
  align-items: center;
  bottom: 37px;
  left: calc(50% + -16.5px + -108.5px);
  font-size: 14px;
  line-height: 16px;
  flex-shrink: 0;
}

.container-blockquote-2 {
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  row-gap: 21px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 46px;
  padding-top: 40px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  filter: drop-shadow(0px 1.4px 18px rgba(0, 0, 0, 0.1));
  flex-shrink: 0;
}

.container-stars-svg-1 {
  flex-shrink: 0;
}

.container-the-automation-feature-has-streamlined-our-workflow-at-the-marketing-agency-routine-tasks-are-handled-automatically-freeing-up-our-time-to-focus-on-creative-work-and-client-interactions-not-having-to-worry-about-the-next-step-in-our-workflow-and-simply-have-it-auto-generated-and-assigned-is-just-what-we-needed {
  height: 318px;
  flex-shrink: 0;
}

.container-jason-lee-marketing-agency-director {
  width: 178px;
  font-size: 14px;
  line-height: 16px;
}

.container-blockquote-3 {
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  align-items: flex-start;
  row-gap: 80px;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
  max-width: 336px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 135px;
  padding-top: 40px;
  justify-content: space-between;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  filter: drop-shadow(0px 1.4px 18px rgba(0, 0, 0, 0.1));
  position: relative;
}

.container-stars-svg-2 {
  flex-shrink: 0;
}

.container-as-an-it-consultant-irely-on-multiple-tools-and-any-do-sintegrations-with-services-like-slack-zapier-and-gmail-have-been-invaluable-it-connects-all-my-platforms-making-it-easier-to-manage-client-projects-and-communication {
  height: 210px;
  left: 37px;
  right: 43px;
  top: calc(50% + -105px + -7px);
  position: absolute;
  flex-shrink: 0;
}

.container-natalie-perez-it-consultant {
  width: 139px;
  font-size: 14px;
  line-height: 16px;
}

.container-blockquote-4 {
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  row-gap: 21px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  filter: drop-shadow(0px 1.4px 18px rgba(0, 0, 0, 0.1));
  flex-shrink: 0;
}

.container-stars-svg-3 {
  flex-shrink: 0;
}

.container-any-do-scustom-views-provide-me-with-critical-insights-into-project-performance-and-team-productivity-as-aproject-manager-ican-track-progress-across-multiple-construction-sites-managed-in-different-boards-and-by-different-people-and-make-data-driven-decisions {
  height: 291px;
  flex-shrink: 0;
}

.container-t-robert-green-project-manager-in-aconstruction-firm {
  max-width: 256px;
  padding-right: 30px;
  padding-top: 11px;
}

.container-robert-green-project-manager-in-aconstruction-firm {
  flex-grow: 1;
  font-size: 14px;
  line-height: 16px;
}

.container-blockquote-5 {
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  row-gap: 21px;
  flex-direction: column;
  padding-bottom: 67px;
  padding-left: 40px;
  padding-right: 48px;
  padding-top: 40px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  filter: drop-shadow(0px 1.4px 18px rgba(0, 0, 0, 0.1));
  flex-shrink: 0;
}

.container-stars-svg-4 {
  flex-shrink: 0;
}

.container-any-do-sseamless-task-coordination-has-made-managing-our-ad-campaigns-much-more-efficient-our-team-can-collaborate-on-tasks-set-deadlines-and-track-progress-ensuring-everything-runs-smoothly-from-start-to-finish-what-once-was-aheadache-is-now-asmooth-workflow-that-we-ve-easily-set-up-with-asimply-board-template {
  height: 345px;
  z-index: 2;
  flex-shrink: 0;
}

.container-hannah-lee-project-management-team-lead {
  width: 214px;
  align-items: center;
  bottom: 51px;
  left: 26px;
  font-size: 14px;
  line-height: 16px;
  flex-shrink: 0;
}

.container-t-student-quote {
  width: 1312px;
  height: 191px;
  padding-left: 1312px;
  padding-top: 191px;
  z-index: 18;
  left: calc(50% + -95.5px + -533.5px);
  top: calc(50% + -95.5px + -691.66px);
  position: absolute;
  flex-shrink: 0;
}

.container-t-line-5 {
  height: 4px;
  max-width: 1914px;
  left: 6px;
  top: calc(50% + -2px + 1827px);
  flex-shrink: 0;
}

.container-line-5 {
  height: 4px;
  flex-shrink: 0;
}

.container-t-boston-university-emblem {
  left: calc(50% + -125.5px + -282.5px);
  top: calc(50% + -125.5px + 1666px);
  position: absolute;
  flex-shrink: 0;
}

.container-boston-university-emblem {
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.container-t-get-started-it-sfree {
  width: 532px;
  height: 37px;
  max-width: 532px;
  bottom: 2466px;
  left: calc(50% + -18.5px + -202.5px);
  position: absolute;
  flex-shrink: 0;
}

.container-get-started-it-sfree {
  font-size: 60px;
  color: dodgerblue;
  line-height: 60px;
}

.container-tt-input-button-1 {
  width: 339px;
  height: 41px;
  bottom: 2380px;
  left: calc(50% + -20.5px + -104px);
  position: absolute;
  flex-shrink: 0;
}

.container-t-input-button-1 {
  row-gap: 12px;
  column-gap: 12px;
  line-height: 1;
}

.container-input-1 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-shrink: 0;
}

.container-value-1 {
  flex-grow: 1;
}

.container-button-2 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 11px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container-button-3 {
  text-align: center;
  color: whitesmoke;
}

.container-t-nav {
  height: 67px;
  top: 1454px;
  flex-shrink: 0;
}

.container-nav {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0)
  );
  width: 1920px;
  height: 67px;
  flex-shrink: 0;
}

.container-section-4 {
  background-image: url(/assets/section-4.png);
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 1600px;
  height: 1600px;
  padding-bottom: 557px;
  padding-left: 622px;
  padding-right: 630px;
  padding-top: 943px;
  position: relative;
  color: white;
  text-align: center;
  flex-shrink: 0;
}

.container-organize-anything-with-anyone-anywhere {
  width: 906px;
  height: 338px;
  left: calc(50% + -169px + -307px);
  top: calc(50% + -169px + -221px);
  position: absolute;
  font-size: 96px;
  line-height: 106px;
  flex-shrink: 0;
}

.container-para-34 {
  text-align: center;
}

.container-text-2 {
  font-weight: 500;
}

.container-text-3 {
  font-weight: 900;
}

.container-text-4 {
  font-weight: 500;
}

.container-text-5 {
  font-weight: 900;
}

.container-heading-3available-on {
  height: 36px;
  left: 725px;
  right: 724px;
  top: calc(50% + -18px + 29px);
  position: absolute;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  flex-shrink: 0;
}

.container-tt-svg-tiphone-tsvg-tipad-tsvg-tmac-ttsvg-tapple-watch {
  font-size: 13px;
  line-height: 20px;
}

.container-t-svg-tiphone {
  row-gap: 12px;
  align-self: stretch;
  text-align: center;
}

.container-svg {
  flex-shrink: 0;
}

.container-t-svg-tipad {
  row-gap: 12px;
  align-self: stretch;
  text-align: center;
}

.container-sv-g1 {
  flex-shrink: 0;
}

.container-t-svg-tmac {
  row-gap: 12px;
  align-self: stretch;
  text-align: center;
}

.container-sv-g2 {
  flex-shrink: 0;
}

.container-t-svg-tapple-watch {
  text-align: center;
  row-gap: 12px;
  padding-top: 2.4px;
}

.container-sv-g3 {
  flex-shrink: 0;
}

.container-t-faq-title {
  height: 154px;
  max-width: 222px;
  bottom: 175px;
  left: 847px;
  right: 851px;
  position: absolute;
  flex-shrink: 0;
}

.container-faq-title {
  height: 154px;
  font-size: 30px;
  line-height: 32px;
  font-weight: 900;
  flex-shrink: 0;
}

.container-para-35 {
  font-size: 100px;
}

.container-spacer-13 {
  height: 32px;
}

.container-tt-rectangle-tmarley_image-removebg-preview {
  height: 52px;
  top: 0px;
  flex-shrink: 0;
}

.container-t-rectangle-tmarley_image-removebg-preview {
  margin-top: -228px;
  height: 280px;
  flex-shrink: 0;
}

.container-to-2 {
  background-image: linear-gradient(
    90deg,
    rgba(0, 82, 212, 1),
    rgba(67, 100, 247, 1) 50%,
    rgba(111, 177, 252, 1)
  );
  padding-right: 973px;
  padding-top: 73px;
  padding-bottom: 73px;
  align-self: stretch;
}

.container-t-marley_image-removebg-preview {
  height: 50px;
  padding-left: 1px;
  flex-shrink: 0;
}

.container-marley_image-removebg-preview {
  object-fit: cover;
  object-position: center;
  width: 309px;
  height: 280px;
  flex-shrink: 0;
}

.container-t-blockquote-1 {
  width: 36px;
  padding-bottom: 2731px;
  padding-left: 36px;
  flex-shrink: 0;
}

.container-blockquote-6 {
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  filter: drop-shadow(0px 1.4px 18px rgba(0, 0, 0, 0.1));
  flex-shrink: 0;
}
@media (min-width: 1910px) {
  .container-t-input-button {
    flex-wrap: nowrap;
  }
  .container-t-screenshot-20250106at-1242261screenshot-20250106at {
    flex-wrap: nowrap;
  }
  .container-tttt-founder-name-3timg_95791tline-3tfounder-quote-3tfounder-name-2timg_42431tline-7founder-quote-2ttimg_95941tline-8tfounder-quote {
    flex-wrap: nowrap;
  }
  .container-ttt-founder-name-3timg_95791tline-3tfounder-quote-3tfounder-name-2timg_42431tline-7founder-quote {
    flex-wrap: nowrap;
  }
  .container-tt-schedule-learning-description-section {
    flex-wrap: nowrap;
  }
  .container-t-blockquote-blockquote-blockquote-blockquote-blockquote {
    flex-wrap: nowrap;
  }
  .container-t-input-button-1 {
    flex-wrap: nowrap;
  }
  .container-tt-svg-tiphone-tsvg-tipad-tsvg-tmac-ttsvg-tapple-watch {
    flex-wrap: nowrap;
  }
}
